{% extends 'myfirstapp/base.html' %}

{% block content %}
    {% for item in product.values %}
    <div style="margin-bottom:100px">
        <div style="margin-bottom:20px">
        Произведенная продукция:
            <br>
            Произведенная продукция: {{ item.produced.produced }},
            Количество: {{ item.produced.quantity }},
            Ед. Измерения: {{ item.produced.produced_uom }},
            Cебестоимость: {{ item.summary_price }}
        </div>
        <div style="margin-bottom:20px">
        Списанный материал:
            {% for material in item.consumed %}
                <br>
                Материал: {{ material.consumed }} ,
                Ед. Измерения: {{ material.consumed_uom }} ,
                Количество: {{ material.quantity }} ,
                Себестоимость материала: {{ material.price }}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    Общая сумма: {{ total_price }}
{% endblock %}